
@{
    ViewBag.Title = "Получить Id";
}

    <h2>Пользователь</h2>

<div
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">ID пользователя :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@ViewBag.UserId</p>
        </div>
        <label class="col-sm-2 control-label">Имя :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@ViewBag.FirstName</p>
        </div>
        <label class="col-sm-2 control-label">Фамилия :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@ViewBag.LastName</p>
        </div>
        <label class="col-sm-2 control-label">Дата рождения :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@ViewBag.BirthDay</p>
        </div>
    </div>
</form>
     <p>@Html.ActionLink("Добавить", "Create", "Persons", null, new { @class = "btn btn-default"})</p>

